* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:
		/* some font here  */
		'Times New Roman', Times, serif;
}

.header {
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 80px;
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.log-header {
	font-size: 50px;
	letter-spacing: 5px;
	line-height: 10px;
}

.menu-header ul,
.login-header ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu-header li,
.login-header li {
	text-decoration: none;
	font-size: 20px;
	margin-right: 50px;
}

.home-content-page {
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
	margin-right: 10px;
}

.imgs {
	display: flex;
	flex-direction: row;
}

.imgs img {
	width: 250px;
	height: 350px;
	border-radius: 20px;
}

img[alt='cv3'] {
	position: relative;
	right: 80px;
	opacity: 0.6;
}

img[alt='cv2'] {
	position: relative;
	right: 40px;
	top: 20px;
	opacity: 0.7;
}

img[alt='cv1'] {
	margin-left: 50px;
	position: relative;
	left: 40px;
	top: 40px;
}

.description-home-content {
	margin: auto;
}

.description-home-content p {
	font-size: 70px;
	letter-spacing: 5px;
	color: #d4cfe2;
	text-shadow: 2px 2px #e39eb5;
	margin-bottom: 15px;
}

.btn-get-started {
	margin-left: 130px;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 5px 20px;
	color: #6551ac;
	background-color: #ccacdf;
	border-radius: 40px;
	border: #ccacdf;
}

.observation-contineur {
	background-color: #f2f0f4;
	padding: 10px;
	border-radius: 10px;
	width: 97%;
	margin: auto;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

#observation {
	font-size: 60px;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.clients-observation {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card {
	width: 20%;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
}

.clients-infos {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.clients-infos img {
	border-radius: 50px;
	width: 50px;
	height: 50px;
}

.name {
	margin-left: 20px;
	margin-top: 15px;
}

.question-side-client {
	margin: auto;
	border: 2px solid whitesmoke;
	border-radius: 5px;
	width: 98%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

.search-field {
	margin: auto;
}

.question-side-client p {
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 600;
	margin: auto;
	opacity: 0.7;
}

.search-field {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 40px;
}

.search-field input {
	margin-right: 10px;
	height: 25px;
	width: 350px;
	font-size: 15px;
	letter-spacing: 1px;
	border: 2px solid #d2bdde;
}

.search-field button {
	padding: 0px 10px;
	font-size: 15px;
	letter-spacing: 1px;
	color: #6551ac;
	background-color: #d2bdde;
	border: 2px solid #d2bdde;
}

.question-en {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
	font-weight: 200;
	margin: auto;
	opacity: 0.7;
}

.en1,
.en2,
.en3 {
	font-size: 15px;
	padding: 10px 25px;
}